.list-projects {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1%;
    .proyecto {
        flex-basis: 23%;
        padding-left: 8px;
        padding-right: 8px;
        height: 100px;
        background-color: tomato;
        margin: 1%;
    }
}

