.list-project {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    .proyecto {
        flex-basis: 25%;
        padding-left: 8px;
        padding-right: 8px;
    }
}